extends layout

block content
  const iterator = associatedData;

  h1= title
  form
   h3 #{"Sample Data Upload"}
   input(type= 'file' id='uploadData' name='filename')
   br
   input(type='submit')

  br
  br
  form
   h3 #{"Classification Upload"}
   input(type= 'file' id='uploadClassifications' name='filename')
   br
   input(type='submit')
  

  p #{"Calculation Time (ms): " + calcTime}
  p #{"TestData: " + testData}
  p #{"Associated Data: " + associatedData}
  ul
    each val, key in associatedData
      each val in key
        li = key + " : " + val